
#root
    font-size: 20px

.workSpace
    display: flex

.Text
    color: black
    align-items: 20px

    text-align: center

.userPage
    display: flex
    flex-direction: column
    padding: 15px
    border: 2px solid teal
    margin-top: 15px

.messageList
    color: #07d737
.title
    color: black

.linkList

    display: flex
    li
        width: 100%
        margin-right: 20px
        list-style: none
        font-size: 20px

.checkStatus
    text-align: center

.inputStyle
    color: #070707
